.header {
  position: absolute;
  top: 10px;
  background-color: white;
  width: 100%;
  height: 80px;
}
.bottom {
  top: calc(100vh - 80px);
}
.toggle-input {
  width: 100%;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
}

.send-button {
  background-color: rgb(25, 135, 84);
  width: 90px;
  height: 45px;
  margin-left: 13px;
  border-radius: 10px;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.clear-button {
  width: 90px;
  height: 45px;
  margin-left: 13px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.text-input {
  height: 45px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 15px;
  width: calc(100% - 210px);
}
.text-input::placeholder {
  font-size: inherit;
}
